---
---
@charset "utf-8";

@import "theme-default";

body {
	font-family:Courier, monospace;
	line-spacing:1.4;
}

.title-page .credit {
	font-style:normal;
}

h1, h2 {
	font-weight:normal;
	font-size:1em;
	margin-top:2em;
}



.character {
	width:24%;
	margin-top:1em;
	margin-right:2%;
	display:inline-block;
}

.character::after {
	content:':';
}

.dialogue {
	margin-top:1em;
	margin-left:26%;
}

.character + .dialogue {
	width:74%;
	margin-left:0px;
	display:inline-block;
	vertical-align:top;
}

.action {
	font-weight:normal;
	text-transform:uppercase;
}

div.action {
	margin-top:1em
	
	;
	margin-left:50%;
}

span.action::before {
	content:'(';
}

span.action::after {
	content:')';
}
